<!-- prettier-ignore -->
{% extends '_base.html' %}
{% load static %}
<!-- prettier-ignore -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock static %}

<!-- prettier-ignore -->
{% block title %}
  Home | To Do
{% endblock title %}
{% block root %}
{% include "components/header.html" %}

<section class="head__home">
  <div class="text-head">
    <h1 class="text__default">One app for your big business</h1>
    <p class="text__default">Just try and you will love your task tracker!</p>

    {% if not request.user.is_authenticated %}
    <a href="{% url 'account_login' %}" class="hp-link">
    <button class="header-button__preview button__default text__default">
      Login
    </button>
    </a>
    {% else %}
    <a href="{% url 'all_task' %}" class="hp-link">
    <button class="header-button__preview button__default text__default">
      Start
    </button>
    </a>
    {% endif %}
    
  </div>
  <div class="img-head">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            style="width: 100%; height: 300px;"
            src="https://t4.ftcdn.net/jpg/00/51/43/65/360_F_51436562_GRSAKMC2RXSjtbM5CEz0NVDQr704OaGV.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 100%; height: 300px;"
            src="https://media.istockphoto.com/id/1193476717/photo/male-hands-making-a-to-do-list-in-a-notebook-over-an-office-desk.jpg?b=1&s=170667a&w=0&k=20&c=p7MUCCTnL9eCmBr0FEBNs_4GFPg7yniFVz3m94k5OQQ="
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 100%; height: 300px; object-fit: cover;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjydBgaiy1TPR3G0LZPDffdruvfqFSfb37lA&s"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- <img
      src="{% static 'public/phone-app.png' %}"
      alt=""
      class="img-head-phone"
    /> -->
  </div>
</section>
{% endblock root %}

{% block scripts %}
<script type="module" src="{% static 'js/slider.js' %}"></script>

{% endblock scripts %}
