<!-- prettier-ignore -->
{% extends '_base.html' %}
{% load static %}
<!-- prettier-ignore -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock static %}

<!-- prettier-ignore -->
{% block title %}
  Домашняя страница | To Do
{% endblock title %}
{% block root %}
{% include "components/header.html" %}

<section class="head__home">
  <div class="text-head">
    <h1 class="text__default">Единое приложение для вашего крупного бизнеса</h1>
    <p class="text__default">
      Просто попробуйте, и вам понравится наш трекер задач!
    </p>

    {% if not request.user.is_authenticated %}
    <a href="{% url 'account_login' %}" class="hp-link">
      <button class="header-button__preview button__default text__default">
        Вход
      </button>
    </a>
    {% else %}
    <a href="{% url 'all_task' %}" class="hp-link">
      <button class="header-button__preview button__default text__default">
        Начать!
      </button>
    </a>
    {% endif %}
  </div>
  <div class="img-head">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTftK01fnJdy-4QzJ3IEQL3Ao_ozYdQjfA9gg&s"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8NHw_pjlyyLLvrV2ZlsMKw7pd8TysnByVjA&s"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://media.npr.org/assets/img/2022/12/22/lk_harlan_to-do-list_final_slide-3afb79b27d7f583bc41eb4f3ba1c50c9d17877ae.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
{% endblock root %} {% block scripts %}
<script type="module" src="{% static 'js/slider.js' %}"></script>

{% endblock scripts %}
