{% extends '_base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />
{% endblock static %}

{% block title %}
  Tasks | To Do
{% endblock title %}

{% block root %}
{% include "components/header.html" %}
<main>
  <h1 class="text__default">Our posts</h1>
  <section>
    {% for post in posts %}
      <div class="card-post">
        <div class="text__default card-post-img-container">
          <img class="card-post-img" src="{{ post.preview.url }}" alt="" />
        </div>
        <div class="text__default card-post-text flex__center">{{ post.title }}</div>
        <div class="text__default card-post-text">{{ post.description|truncatechars:20 }}</div>
        <div class="text__default card-post-time">{{ post.create_time }}</div>
      </div>
    {% endfor %}
  </section>
</main>
{% endblock root %}
