{% load static %}

<article class="modal-task__background" id="modal-create" onclick="toggleCreateModal(event)">
  <section class="modal-task__body">
    <div class="modal-task-head">
      <p class="text__default">Новая задача</p>
      <img
        class="modal-task-img"
        src="{% static 'public/plus.svg' %}"
        alt="close"
        onclick="toggleCreateModal(event)"
      />
    </div>
    <div class="modal-task-form-container">
    <form class="modal-task-form" onsubmit="submitHandler(event)">
      <input 
        type="text"
        class="input__default"
        placeholder="Название"
        name="title"
        required
      />
      <input
        type="text"
        class="input__default"
        placeholder="Описание"
        name="description"
        required
      />
      <input
        type="text"
        class="input__default"
        placeholder="День завершения: год-месяц-день"
        name="plane_finished_date"
        required
      />
      <input
        type="text"
        class="input__default"
        placeholder="Время завершения: 12:12"
        name="plane_finished_time"
        required
      />
      <button
        class="button__default"
        type="submit"
      >Создать</button>
    </form>
    </div>
  </section>
</article>