{% load static %}
<div class="container__social">
    <h2 class="text__default">Или</h2>
    <div class="container-links__social">
        <a class="link__social" href="/accounts/github/login/?process=login">
        <div class="container-img__social">
            <img src="{% static 'public/github.png' %}" class="img__social" alt="">
        </div>
        </a>
        <a class="link__social" href="/accounts/google/login/?process=login">
        <div class="container-img__social">
            <img src="{% static 'public/google.webp' %}" class="img__social" alt="">
        </div>
        </a>
    </div>
</div>