:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100dvh;
  width: 100dvw;
  max-height: 100dvh;
  max-width: 100dvw;
  margin: 0px;
  padding: 0px;

  &.open {
    overflow: hidden;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.text__default {
  color: #000;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}

.button__default {
  cursor: pointer;

  background-color: #fff;

  border-radius: 8px;
  outline: none;
  border: 1.5px solid #000;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.input__default {
  background-color: #fff;

  border-radius: 8px;
  outline: none;
  border: 1.5px solid #000;

  height: 36px;

  font-size: 14px;

  padding: 0px 10px;
}

.flex__center {
  display: flex;
  flex-flow: column nowrap;
  justify-self: center;
  align-items: center;
  text-align: center;
}

nav {
  position: absolute;
  top: 0px;
  left: -270px;
  height: 100dvh;
  width: 250px;
  max-width: 250px;
  padding-top: 10px;
  padding-left: 10%;

  background-color: #fff;

  transition: all 0.3s ease-in-out;
  z-index: 5;

  &.open {
    left: 0px;
  }

  & > .nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
}

.nav-links {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;

  margin-top: 20%;
  width: 100%;
}
