#root {
  display: grid;
  grid-template-rows: 70px 1fr;
}

.head__home {
  height: 100%;
  background-color: #fff;
}

.text-head {
  & > h1 {
    font-size: 48px;
    font-weight: 500;
  }

  & > * {
    margin-bottom: 20px;
  }
}

.head__home {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  padding: 20px 10%;
  align-items: center;
  justify-items: center;
}

.header-button__preview {
  height: 60px;
  width: 200px;
}

.img-head {
  display: grid;
  justify-content: end;

  justify-self: end;
  min-width: 100%;
}

.swiper {
  width: 100%;
  max-width: 500px;
}

.swiper-slide img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .head__home {
    gap: 20px;
  }

  .hp-link {
    display: flex;
    height: 60px;
    width: 200px;

    text-decoration: none;
    margin: 0 auto;
  }

  .img-head {
    justify-self: center;
    display: block;
  }

  .head__home {
    grid-template-columns: none;
    padding: 20px 5%;
  }

  .text-head {
    width: 100%;

    & > h1,
    & > p,
    & > button {
      width: 100%;
      text-align: center;
    }

    & > h1 {
      font-size: 32px;
    }
  }

  .swiper {
    width: calc(100dvw - 40px);
    max-width: calc(100dvw - 40px);
  }
}
