.card-post {
  width: 300px;
  max-width: 300px;

  border: 1.4px solid black;
  border-radius: 10px 10px 5px 5px;

  overflow: clip;

  padding-bottom: 10px;

  & > div {
    width: 100%;
  }
}

.card-post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-post-time {
  text-align: end;
  font-size: 12px;
}

.card-post-text {
  font-weight: 500;
  font-size: 14px;
}

.card-post-text,
.card-post-time {
  padding: 0px 5px;
}

.card-post-text,
.card-post-img-container {
  margin-bottom: 10px;
}

main {
  padding: 20px 10%;

  & > h1 {
    width: 100%;
    text-align: center;
    font-weight: 700 !important;
    font-size: 36px !important;
    margin-bottom: 30px;
  }

  & > section {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
