.calendar-bar {
  padding-top: 50px;

  width: 100%;
  height: 100%;
}

.calendar-container {
  display: grid;
  justify-content: center;

  width: 100%;
  height: fit-content;

  & > * {
    color: #000;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
  }
}

#calendar-bar-weeks,
#calendar-bar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: fit-content;

  & > * {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 24px;
    width: 24px;
  }
}

#calendar-bar-weeks {
  & > * {
    font-weight: 600;
  }
}

#calendar-bar-month {
  font-weight: 500;
  font-size: 12px;
  padding-left: 6px;
}

.day__current {
  background-color: aqua;
  border-radius: 50%;
  padding: 2px;
}

.month__previous {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

@media (max-width: 1200px) {
  .calendar-bar {
    display: none;
  }
}
