.tasks__main {
  display: grid;
  grid-template-columns: 50px calc(100% - 50px);
  grid-template-rows: 50px calc(100% - 50px);

  height: 100%;
  width: 100%;
}

._plug {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.tasks-times {
  border-right: 1px solid black;
}

.tasks-titles {
  border-bottom: 1px solid black;
}

.tasks-body,
.tasks-times {
  overflow-y: scroll;
}
