{% extends "_base.html" %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock static %}

{% block title %}
  Sign in | To Do
{% endblock title %}

{% block root %}
  {% include 'components/header-non-auth.html' %}
  <main>
    <p class="flex__center text__default" style="font-weight: 700;">Sign In</p>

    <p class="flex__center text__default">
      Have not an account? Then please
      <a href="{% url 'account_signup' %}" style="color: inherit;">sign up</a>.
    </p>

    {% url 'account_login' as action_url %}
    <form action="{{ action_url }}" method="post" class="form__auth text__default">
      {% csrf_token %}
      <div>
        <p>
          {{ form.login.errors }}
        </p>
        <label>
          {{ form.login.label }}
        </label>
        {{ form.login }}
      </div>

      <div>
        <p>
          {{ form.password.errors }}
        </p>
        <label>
          {{ form.password.label }}
        </label>
        {{ form.password }}
      </div>

      <div class="form__remember">
        <label>
          {{ form.remember.label }}:
        </label>
        {{ form.remember }}
      </div>
      <button type="submit" class="button__default button__auth">
        Sign In
      </button>
    </form>

    {% include "components/social-login.html" %}
  </main>
{% endblock root %}