{% extends "_base.html" %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock static %}

{% block title %}
    Выход | To Do
{% endblock title %}

{% block root %}
{% include 'components/header.html' %}
<main>
    <h1 class="flex__center text__default">Выход</h1>
    
    <p class="flex__center text__default" style="height: fit-content;">Вы уверены, что хотите выйти?</p>    

    {% url 'account_logout' as action_url %}
    <form action="{{ action_url }}" method="post">
        {% csrf_token %}
        {{ redirect_field }}
        <button class="button__default button__auth" type="submit">Выход</button>
    </form>
</main>
{% endblock root %}