{% extends "_base.html" %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock static %}

{% block title %}
Регистрация | To Do
{% endblock title %}

{% block root %}
    {% include 'components/header.html' %}
    <main>
        <p class="flex__center text__default" style="font-weight: 700;">Регистрация</p>

        <p class="flex__center text__default">
            У вас уже есть аккаунт? Тогда, пожалуйста,
            <a href="{{ login_url }}" style="color: inherit;">войдите</a>.
        </p>
    
        {% url 'account_signup' as action_url %}
        <form action="{{ action_url }}" method="post" class="form__auth text__default">
            {% csrf_token %}
            {{ form }}
            {{ redirect_field }}
            <button type="submit" class="button__default button__auth">
                Регистрация
            </button>
        </form>
    
        {% include "components/social-login.html" %}
    </main>
{% endblock root %}